[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	logo = log --oneline
	logog = log --oneline --graph
	cia = commit --allow-empty
[diff]
	tool = winmerge
[difftool]
	prompt = false
