[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	logo = log --oneline
	logog = log --oneline --graph
	cia = commit --allow-empty
	lg = log --color --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'
[diff]
	tool = winmerge
[difftool]
	prompt = false
