# Ignore everything by default
/*

# But not these files...
!.bashrc

!.cmder.xml

!.gitignore
!.gitconfig

!.tmux

!.vim/*
!.vim/autoload/*
!.vimrc

# ...even files to be tracked are in subdirectories
